<h2>"Thanks for signing in <%= current_user.first_name %>"</h2>
<h2> "Choose your desk" </h2>

<%= form_tag("/users", method: "patch") do %>
  <%= radio_button_tag(:basic, "basic") %>
  <%= label_tag(:basic, "Basic Desk") %>
  <%= radio_button_tag(:standing_desk, "standing desk") %>
  <%= label_tag(:standing_desk, "Standing Desk") %>
  <%= radio_button_tag(:mega_desk, "Mega Desk") %>
  <%= label_tag(:mega_desk, "Mega Desk") %>
  <%= label_tag(:q, "Regular Desk:") %>
  <%= submit_tag("Submit desk selection") %>
<% end %>
