<h2>"Thanks for signing in <%= current_user.first_name %>"</h2>
<h2> "Choose your desk" </h2>

<%= form_tag("/users", method: "patch") do %>
  <%= radio_button_tag(:basic, "basic") %>
  <%= label_tag(:basic, "Basic Desk") %>
  <%= radio_button_tag(:age, "adult") %>
  <%= label_tag(:age_adult, "I'm over 21") %>
  <%= label_tag(:q, "Regular Desk:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit desk selection") %>
<% end %>
